.blog-card-body h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    margin-bottom: 0px;
}

.blog-card-body p {
    text-transform: lowercase;
    font-size: 1rem;
}

.blog-card-body h2 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: black;
    font-weight: 500;
    text-indent: 0px;
}

.dashboard-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    border-bottom: 2px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 25;
    padding-bottom: 20px;
}
.logout-btn {
    padding: 10px 50px 10px 50px;
    background-color: black;
    color: var(--primary-color);
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    width: fit-content;
}

.dashboard-aside {
    background-color: white;
    border-right: 2px solid #ddd;
    width: 15%;
    height: 100vh;
    left: 0;
    top: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    align-self: flex-start;
    position: sticky;
    padding-top:10px;
}

.tab {
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
    max-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tab p {
    color: var(--color-dark);
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 500;
    width: 70%;
}

.tab svg {
    color: var(--color-dark);
    font-size: 1.3rem;
}

.dashboard-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.overview-section {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px;
    align-self: flex-start;
}


.overview-page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overview-card-container {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    column-gap: 20px;
}

.overview-card {
    box-shadow: 0px 0px 5px #ddd;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
}

.overview-card h2 {
    color: var(--color-dark);
    font-size: 2rem;
}

.overview-icon {
    font-size: 3rem;
    color: rgb(178, 0, 166);
}

.third {
    color: green;
}

.second {
    color: gold;
}

.overview-card p {
    font-size: 1rem;
    font-family: poppins;
    line-height: 15px;
    color: rgb(163, 163, 163);
}

/* Basic editor styles */

.is-active {
    cursor: pointer;
    font-size: 1rem;
    background-color: rgb(220, 220, 220);
    border: 1px solid rgb(186, 185, 185);
    margin: 1px;
    padding: 10px;
    border-radius: 2px;
}

.tiptap-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
}

.tiptap-body {
    background: white;
}

.task-bar {
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 10px;
    align-items: space-around;
    flex-wrap: wrap;
}

.task-bar-btn {
    cursor: pointer;
    font-size: 1rem;
    background-color: white;
    border: 1px solid rgb(186, 185, 185);
    margin: 1px;
    padding: 10px;
    border-radius: 2px;
    margin: 2px;
}

.task-bar-btn:hover {
    background-color: #ddd;
}

.ProseMirror {
    background-color: white;
    outline: none;
    text-indent: 10px;
    padding: 10px;
}

.ProseMirror>*+* {
    margin-top: 0.75em;
}

.ProseMirror ul,
.ProseMirror ol {
    padding: 0 1rem;
}

.ProseMirror li {
    list-style-type: disc;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
    line-height: 1.1;
    text-align: left;
    text-indent: 0px;
    font-family: plus jakarta Text;
}

.ProseMirror pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: noto sans, 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    text-align: left;
}

.ProseMirror img {
    max-width: 100%;
    height: auto;
}

.ProseMirror blockquote {
    padding-left: 1rem;
    border-left: 2px solid #0d0d0d;
}

.ProseMirror hr {
    border: none;
    border-top: 2px solid #0d0d0d;
    margin: .4rem 0;
}

.ProseMirror p {
    text-align: left;
    font-family: noto sans;
}

.ProseMirror p:first-letter {
    text-transform: uppercase;
}

.ProseMirror ol>li {
    list-style-type: auto;
    color: black;
    font-weight: 500;
}

.ProseMirror a {
    color: blue;
}

.ProseMirror h1 {
    font-family: plus jakarta Text;

}

.file-upload-input {
    width: 100%;
}

.create-post-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ddd;
}

.input {
    height: 40px;
    border: 2px solid #ddd;
    outline: none;
    margin-bottom: 20px;
    text-indent: 15px;
    padding: 0px 0px 0px 10px;
    font-size: 1rem;
    color: #292929;
    width: 100%;
    font-family: Noto Sans, 'JetBrainsMono', monospace;
}

::-webkit-file-upload-button {
    margin-top: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: #292929;
    color: white;
    width: fit-content;
    border: none;
    font-family: poppins, 'JetBrainsMono', monospace;
    font-size: 1rem;
    cursor: pointer;
}

.create-btn {
    height: 45px;
    background-color: #292929;
    color: white;
    font-size: 1.2rem;
    font-family: poppins;
    text-transform: capitalize;
    margin-top: 20px;
    cursor: pointer;
    width: 100%;
}

.label {
    width: 100%;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #292929;
    font-family: poppins;
}

.dashboard-property-list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 20px;
}

.post-view-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    width: 100%;
}

.form-view,
.overview {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2px;
    align-self: flex-start;
    flex-direction: column;
}

.logout {
    font-size: 2.5rem;
    margin-right: 20px;
    color: #666565;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #ddd;
}

.dash-head-icon-container {
    margin-right: 20px;
}
.post-card{
    min-width: 350px;
    min-height:400px
}
.edit-card {
    position: relative;
    height: 100%;
}

.edit-icon {
    font-size: 2.1rem;
    color: red;
    cursor: pointer;
    margin-bottom: 20px;
    z-index: 2;
}

.edit-icon-containers {
    position: absolute;
    top: 0;
    right: 80px;
    display: flex;
    flex-direction: column;
}

.edit {
    color: gold;
}

.contact-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

.contact-cards h2 {
    width: 80%;
    color: rgb(90, 90, 90);
    font-size: .9rem;
    font-weight: 500;
}

.contact-cards a {
    width: 80%;
    color: rgb(90, 90, 90);
    font-size: .9rem;
    font-weight: 500;
    line-height: 50px;
}

.contact-cards svg {
    font-size: 2rem;
    color: rgb(90, 90, 90);
}

.about-text-container-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-text-container-span {
    width: 85%;
}

.about-icons {
    font-size: 2.5rem;
    color: var(--color-varient);
}

.about-line {
    background: rgb(157, 157, 157);
}

.team-card-text-container h2 {
    color: rgb(45, 45, 45);
}

.contact-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nav-link-container {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 5px 0px 5px 0px;
    justify-content: space-around;
    padding: 15px 5px 15px 5px;
}

.menu-bar {
    position: fixed;
    left: 0;
    top: 10;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    z-index: 30;
    background-color: var(--primary-color);
    width: 0px;
    overflow-x: hidden;
    transition: all .3s ease-in-out;
    border-right: 1px solid #ddd;
}

.menu-bar a:hover {
    color: var(--secondary-color);
}

.menu-bar a:hover>svg {
    color: var(--secondary-color);
}

.menu-bar a {
    width: 70%;
    color: rgb(78, 78, 78);
    margin: 10px 0px 10px 10px;
    text-transform: capitalize;
    font-family: Noto Sans, poppins light, roboto;
    font-size: 1rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.link-arrow {
    color: rgb(78, 78, 78);
    font-size: .8rem;
}

.sort-list {
    position: relative;
    padding: 0px;
    width: 100%;
}

.overall-link {
    background-color: transparent;
    padding: 0px;
}

.sort-list-container {
    box-shadow: 0px 0px 10px #ddd;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    overflow-x: auto;
    position: absolute;
}

.sort-list-container p {
    padding: 10px 30px;
    border: 1px solid var(--color-dark);
    border-radius: 12rem;
    font-weight: 600;
    margin: 15px;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.sort-list-container p:hover {
    background-color: var(--color-dark);
    color: white;
}

.search-error-msg {
    height: 300px;
    width: 100%;
}

.edit-post-form-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.edit-post-form {
    width: 500px;
    height: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px;
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 10px;
}

.category-btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0px 20px 0px;
}

.category-btn-container button {
    background-color: white;
    border: 2px solid #292929;
    color: #292929;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-right: 10px;
    font-family: noto sans, poppins;
}

.category-btn-container button:hover {
    color: white;
    background: #292929;
}

.inner-landpage-section {
    width: 100%;
    height: 480px;
}

.my-swiper-slide {
    width: 100%;
    height: 500px;
}

.swiper-slide-img {
    object-fit: cover;
}

.edit-input {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0px 20px 0px;
    color: rgba(33, 33, 33, 0.635);
}

.edit-submit-btn {
    margin-top: 20px;
    background: var(--color-dark);
    color: white;
    font-size: 1.1rem;
    padding: 10px;
}
@media screen and (max-width: 767px) {
    .gold-card{
        width: 90%;
        height: 300px;
    }

}